Repository ianzone/react-storybook: changes, and which lefthook commands are due for each by the changed paths.
All: typescript, biome

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
pre-commit:
  piped: true
  follow: true
  commands:
    staged:
      priority: 1
      run: echo {staged_files} | tr ' ' '\n'
    security:
      priority: 2
      run: gitleaks protect --staged --no-banner
    unused:
      priority: 3
      run: na knip --no-exit-code
    typescript:
      priority: 4
      glob: "*.{ts,tsx}"
      run: na tsc --noEmit
    biome:
      priority: 5
      glob: "*.{ts,tsx,js,jsx,json,jsonc,css}"
      run: na biome check --fix {staged_files} --reporter summary
      stage_fixed: true
    # test:
    #   priority: 6
    #   glob: "*.{ts,tsx,js,jsx}"
    #   run: na vitest related --run {staged_files}

chore: 🤖 add chromatic
  package.json
  pnpm-lock.yaml
Due: biome

test: 💍 vitest
  knip.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/hooks/index.ts
  src/hooks/useThemeMode/index.ts
  src/hooks/useThemeMode/useThemeMode.test.ts
  src/hooks/useThemeMode/useThemeMode.ts
  src/index.ts
  vitest.config.ts
Due: typescript, biome

chore: 🤖 release
  release.config.ts
Due: typescript, biome

chore: 🤖 release
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  release.config.ts
Due: typescript, biome

chore: 🤖 knip
  knip.json
Due: biome

chore: 🤖 minify
  .storybook/main.ts
  pnpm-lock.yaml
Due: typescript, biome

chore: 🤖 build docs
  .github/workflows/release.yml
  release.config.ts
Due: typescript, biome

chore: 🤖 pkg update
  bun.lockb
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: biome

chore: 🤖 pkg update
  .storybook/preview.ts
  src/components/Button.stories.ts
  src/components/Header.stories.ts
Due: typescript, biome

chore: 🤖 squash
  bun.lockb
  lefthook.yml
  package.json
  squash.mjs
  src/components/Button.tsx
Due: typescript, biome

chore: 🤖 hooks
  lefthook.yml
Due: none

chore: 🤖 actions
  .github/workflows/release.yml
Due: none

chore: 🤖 pkg update
  bun.lockb
  lefthook.yml
  package.json
Due: biome

chore: 🤖 pkg update
  bun.lockb
  package.json
Due: biome

chore: 🤖 pkg update
  biome.json
  bun.lockb
  lefthook.yml
  package.json
  tsconfig.app.json
  tsconfig.node.json
  vitest.config.ts
Due: typescript, biome

chore: 🤖 rm zx
  bun.lockb
  package.json
  scripts/squash.ts
  squash.mjs
Due: typescript, biome

chore: 🤖 actions
  .github/workflows/release.yml
  package.json
Due: biome

chore: 🤖 update
  bun.lock
  lefthook.yml
  package.json
  tsconfig.json
Due: biome

chore: 🤖 update
  .storybook/main.ts
  bun.lock
  package.json
  rslib.config.ts
  vitest.config.ts
Due: typescript, biome

chore: vite build
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  bun.lock
  lefthook.yml
  package.json
  rslib.config.ts
  src/Configure.mdx
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  vitest.config.ts
  vitest.shims.d.ts
Due: typescript, biome

chore: pkg update
  .github/workflows/release.yml
  README.md
  bun.lock
  package.json
  src/components/Button/Button.tsx
  tsconfig.app.json
  tsconfig.json
  vite.build.ts
  vite.config.ts
Due: typescript, biome

chore: update
  bun.lock
  package.json
  vite.build.ts
  vite.config.ts
Due: typescript, biome

chore: update
  bun.lock
  knip.json
  package.json
  src/globals.d.ts
  vite.config.iife.ts
  vitest.config.ts
Due: typescript, biome

chore: pkg update
  bun.lock
  package.json
Due: biome

chore: tsdown
  README.md
  bun.lock
  package.json
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  tsdown.config.ts
  vite.config.iife.ts
  vite.config.ts
  vitest.shims.d.ts
Due: typescript, biome

chore: ci
  .github/workflows/release.yml
  bun.lock
  package.json
  release.config.js
  tsdown.config.ts
Due: typescript, biome

chore: pkg update
  .storybook/main.ts
  .storybook/vitest.setup.ts
  bun.lock
  lefthook.yml
  package.json
  src/hooks/useThemeMode/useThemeMode.test.ts
  vitest.config.ts
Due: typescript, biome

chore: pkg update
  README.md
  bun.lock
  package.json
Due: biome

chore: pkg update
  bun.lock
  package.json
  src/components/Button/Button.stories.ts
  src/components/Header/Header.stories.ts
  src/components/LoginForm/LoginForm.stories.ts
  src/components/Page/Page.stories.ts
Due: typescript, biome
